@import "./../../Helper/variable";

.my__listBook{
    bottom: -30px;
    right: 150px;
    padding: 0 5px;
    width: 80%;
    position: absolute;
    background-color:white;
    border-radius: 5px; 
}
.my__bookSelect{
    border: none;
    height: 80px;
    &:focus{
        box-shadow: none;
    }
}
.my__bookOption{
    outline: none;
    width: 20px;
}