@import "./../../Helper/variable";

.footer {
    background-color: $color-green-3;
    padding-top: $fs-5;
}

.footer a {
    transition: all 0.5s;
}

.footer__item h3 {
    color: #ec7532;
    font-size: $fs-4;
    margin-bottom: 22px;
}

.footer__item li a {
    color: $color-white-0;
    font-size: $fs-3;
    letter-spacing: 1px;
}

.footer__item li a:hover {
    color: #fbbd61;
}

.footer__item li a i {
    display: inline-block;
    color: #4a4a4a;
    width: 30px;
}

.copyright {
    font-size: 14px;
}
.myCopyright {
    color: white;
}
.copyright a:hover {
    color: #ec7532;
}


#trailerModal iframe {
    height: 50vh;
    width: 100%;
}