@import "./../../Helper/variable";

.myHeader{
    background-color: $color-white-0;
   
    
}
ul li .myNavLink {
    color: $color-black-0;
    font-size: $fs-0;
    margin-left: $mg-0;
    font-weight: $fw-bold-0;
}
.myButton {
    color: $color-red-0;
    background-color: $color-grey-1;

    
}