@import "./../../Helper/variable";

.navbar {
    font-size: $fs-3;
    background-color: none;
    color: $color-grey-3;
    margin:0 $mg-0;
    border-color: none;
    border: none;
    outline: none;
    padding: 2px;
    
    &:hover{
        color: $color-red-0;
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
    &i{
        font-size: $fs-4;
    }    

}

.login {
    font-size: $fs-3;
    background-color: none;
    color: $color-grey-3;
    margin:0 $mg-0;
    border-color: $color-blue-1;
    border: none;
    outline: none;
    padding: 2px;
    
    &:hover{
        color: $color-red-0;
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
    &i{
        font-size: $fs-4;
    }    

}
.signup{
    border-left:1px solid $color-grey-3;
    &a{
        margin-left: 5px ;
    }
}
.my__signup img{
    border-radius: 50%;
}
