// variable color
$color-black-0: #000; // default
$color-white-0: #fff; //default
$color-black-1: #4a4a4a;
$color-grey-1: #5D5C61;
$color-grey-3: #B1A296;
$color-red-0:#fb4226;
$color-red-1:#b30000;
$color-red-2:red;
$color-red-3:#6F2232;
$color-red-4:#950740;
$color-red-5:#C3073F;
$color-green:#00ac4d;
$color-green-1:#8bc541;
$color-green-3:#417505;
$color-green-4:linear-gradient(223deg,#b4ec51 0,#429321 100%);
$color-blue-1:#60c5ef;
$color-blue-2: #7395AE;
$color-blue-3: #557A95;
$color-blue-4: #379683;


$color-blue:#405D9D;
$color-blue-0:#007bff;
$color-red:red;
$color-white:white;

// variable font-size
$fs-0: 14px; //default
$fs-1: 12px;
$fs-2: 13px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 24px;


//variable margin
$mg-0: 5px;
$mg-1: 8px;
$mg-2: 15px;
$mg-3: 20px;

//variable border-radius
$border-radius: 4px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.4; //default
$line-height-1: 1.42857143;
$line-height-2: 1.7;
$line-height-3: 22px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 400;
$fw-bold-1: 700;
$fw-bold: bold;

//break points
// mảng biến
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)