@import "./../../Helper/variable";

.my__listBook{

    bottom: -30px;
    right: 130px;
    padding: 0 5px;
    width: 80%;
    position: absolute;
    background-color:$color-green-1;
    border-radius: 5px; 
    border:$color-green-1;
}
.my__bookSelect{
    margin-right: 50px;
    background-color:$color-green-1;
    border:none;
    height: 80px;
    &:focus{
        box-shadow: none;
        background-color:$color-green-1;
    }
}
.my__bookOption{
    outline: none;
    width: 20px;
}
